@using Physiotherapy.Model
@using Physiotherapy.BLL
@using Physiotherapy.Common
@using Physiotherapy.Common._Resources

@model CvVO

@{
    MemberState state = MemberStateBL.State;
    List<PhoneVO> phones = Model.Member.Person.Phones;
    List<AddressVO> addresses = Model.Member.Person.Addresses;
    List<EmailVO> emails = Model.Member.Person.Emails;
}


@if (Model != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="bd-highlight col-2">
                <div>
                    <img src="https://images.ctfassets.net/d0ymucfas3rs/1EZRe3oUasg1LIjONpOHsR/055fbdf3513a912eae091d137f61d095/joshkaufman-square.jpg?w=640"
                         alt="@Model.Member.Username" class="img-thumbnail" height="200" width="200">
                    <br />
                </div>
                <button class="ml-2 mt-2 btn btn-light btn-sm width-fill">
                    <span class="text-info">
                        <i class="fas fa-portrait" id="i-personalInfo"></i>&nbsp;
                        @Resource.ChangePhoto
                    </span>
                </button>
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between pointer" id="h-personalInfo">
                            <h5>@Resource.PersonalInformation</h5>
                            <span><i class="fas fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="card-body" id="b-personalInfo">
                        <div class="row ">
                            <div class="col">
                                @if (state.Culture == eCulture.Greek)
                                {
                                    <span class="">
                                        @Resource.FirstName : <b>@Model.Member.Person.FirstName_el</b>
                                    </span>
                                }
                                else
                                {
                                    <span class="">
                                        @Resource.FirstName : <b>@Model.Member.Person.FirstName_en</b>
                                    </span>
                                }
                            </div>
                            <div class="col">
                                @if (state.Culture == eCulture.Greek)
                                {
                                    <span class="">
                                        @Resource.LastName : <b>@Model.Member.Person.LastName_el</b>
                                    </span>
                                }
                                else
                                {
                                    <span class="">
                                        @Resource.LastName : <b>@Model.Member.Person.LastName_en</b>
                                    </span>
                                }
                            </div>
                            <div class="col">
                                <span class="">
                                    @Resource.BirthDate : <b>@Model.Member.Person.BirthDate.ToShortDateString()</b>
                                </span>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            @foreach (PhoneVO phone in phones)
                            {
                                if (!phone.IsMobile)
                                {
                                    <div class="col">
                                        @Resource.Phone: <b>@phone.Phone</b>
                                    </div>
                                }
                                else
                                {
                                    <div class="col">
                                        @Resource.Mobile: <b>@phone.Phone</b>
                                    </div>
                                }
                            }
                            @if (phones.Count % 3 == 2)
                            {
                                <div class="col"></div>
                            }
                            @if (phones.Count % 3 == 1)
                            {
                                <div class="col"></div>
                                <div class="col"></div>
                            }
                        </div>
                        @foreach (AddressVO addr in addresses)
                        {
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <span class="">
                                        @Resource.Address : <b>@addr.Street</b>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="">
                                        @Resource.Number : <b>@addr.Number</b>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="">
                                        @Resource.PostCode : <b>@addr.PostCode</b>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="">
                                        @Resource.Country : <b>@addr.Country</b>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="">
                                        @Resource.City : <b>@addr.City</b>
                                    </span>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <h4 class="header purple">
                <button class="btn btn-light btn-sm pull-right" id="#AddEducation" data-toggle="modal" data-target="#EducationCreate">
                    <span class="text-success">
                        <i class="fas fa-plus-circle"></i>
                        @Resource.Add
                    </span>
                </button>
                <span class="oi oi-book font-italic small"></span>
                <span class="pointer" id="h-studies">@Resource.Education</span>
                <i class="fas fa-angle-down fa-sm" id="i-studies"></i>
            </h4>
            @if (Model.Educations != null && Model.Educations.Count > 0)
            {
                foreach (EducationVO edu in Model.Educations)
                {
                    <div class="media media-pill">
                        <img src="~/fonts/icons/diploma.gif" class="align-self-center mr-3" width="25">
                        <div class="media-body">
                            <h5 class="mb-0">
                                @edu.Degree
                                <span class="pull-right">
                                    <button type="button" class="btn btn-radius btn-blue btn-unstyle btn-mini" onclick="EditEducation('@edu.Id')">
                                        <i class="fas fa-pencil-alt "></i>
                                    </button>
                                </span>
                            </h5>
                            <span class="text-muted mt-0">
                                <i class="fas fa-university"></i>&nbsp;
                                @edu.School | @edu.Department |
                                <span  >
                                    <i class="fas fa-calendar-alt fa-sm"></i>&nbsp;
                                    @edu.StartYear - @edu.GraduationYear
                                </span>
                                @if (edu.Grade != null)
                                {
                                    @:|
                                    <span class="badge badge-blue">
                                        <i class="far fa-star"></i>
                                        @edu.Grade
                                    </span>
                                }

                            </span>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-secondary text-center" id="b-studies">
                    @string.Format(Resource.A0005, Resource.Education)
                </div>
            }
        </div>
        <div class="col">
            <h4 class="header green">
                <button type="button" class="btn btn-light btn-sm pull-right">
                    <span class="text-success">
                        <i class="fas fa-plus-circle"></i>
                        @Resource.Add
                    </span>
                </button>
                <i class="fas fa-laptop fa-sm"></i>
                <span class="pointer" id="h-experience">@Resource.Experience</span>
                <i class="fas fa-angle-down fa-sm" id="i-experience"></i>
            </h4>
            <div class="alert alert-secondary text-center" id="b-experience">
                @string.Format(Resource.A0005, Resource.Experience)
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <h4 class="header blue">
                <button type="button" class="btn btn-light btn-sm pull-right">
                    <span class="text-success">
                        <i class="fas fa-plus-circle"></i>
                        @Resource.Add
                    </span>
                </button>
                <i class="fas fa-bullhorn"></i>
                <span class="pointer" id="h-participations">@Resource.ParticipationsConferences</span>
                <i class="fas fa-angle-down fa-sm" id="i-participations"></i>
            </h4>
            <div class="alert alert-secondary text-center" id="b-participations">
                @string.Format(Resource.A0005, Resource.ParticipationsConferences)
            </div>
        </div>
        <div class="col">
        </div>
    </div>
}
else
{

}
@using (Html.BeginForm("EducationCreate", "Cv", FormMethod.Post))
{
    @Html.Partial("_EducationCreate", new EducationVO())
}


@section Scripts{
    <script src="~/Scripts/Formats/Grade.Input.Mask.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            NavBarItemSelected("myCV");

            @* Close slide bar *@
            if (!$("#sidebarIcon").hasClass("fa-bars")) {
                $("#sidebarIcon").removeClass("fa-align-left");
                $("#sidebarIcon").addClass("fa-bars");
                $("#sidebarCollapse").removeClass("btn-primary ");
                $("#sidebarCollapse").addClass("btn-outline-primary");
                $("#sidebarIcon").css("color", "");
                $("#sidebar-wrapper").addClass("d-none");
            }

            @*  Education *@
            $('#Grade').GradeMask();
            $('#Grade').val("");
        });

        $('#h-personalInfo').on('click', function () {
            if ($('#b-personalInfo').hasClass('d-none')) {
                $('#b-personalInfo').removeClass('d-none');
                var icon = $('#i-personalInfo');
                icon.removeClass('fa-angle-up');
                icon.addClass('fa-angle-down');
            } else {
                $('#b-personalInfo').addClass('d-none');
                var icon = $('#i-personalInfo');
                icon.removeClass('fa-angle-down');
                icon.addClass('fa-angle-up');
            }
        });

        $('#h-studies').on('click', function () {
            if ($('#b-studies').hasClass('d-none')) {
                $('#b-studies').removeClass('d-none');
                var icon = $('#i-studies')
                icon.removeClass('fa-angle-up');
                icon.addClass('fa-angle-down');
            } else {
                $('#b-studies').addClass('d-none');
                var icon = $('#i-studies');
                icon.removeClass('fa-angle-down');
                icon.addClass('fa-angle-up');
            }
        });

        $('#h-experience ').on('click', function () {
            if ($('#b-experience ').hasClass('d-none')) {
                $('#b-experience ').removeClass('d-none');
                var icon = $('#i-experience')
                icon.removeClass('fa-angle-up');
                icon.addClass('fa-angle-down');
            } else {
                $('#b-experience ').addClass('d-none');
                var icon = $('#i-experience');
                icon.removeClass('fa-angle-down');
                icon.addClass('fa-angle-up');
            }
        });

        $('#h-participations').on('click', function () {
            if ($('#b-participations').hasClass('d-none')) {
                $('#b-participations').removeClass('d-none');
                var icon = $('#i-participations')
                icon.removeClass('fa-angle-up');
                icon.addClass('fa-angle-down');
            } else {
                $('#b-participations').addClass('d-none');
                var icon = $('#i-participations');
                icon.removeClass('fa-angle-down');
                icon.addClass('fa-angle-up');
            }
        });

        $("#AddEducation").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
        });

        function EditEducation(id) {
            var postData ={
                id: id
            }
            $.ajax({
                type: "POST",
                url: "/CV/EducationEdit",
                processData: JSON.stringify(postData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                },
                error: function (data) {
                    alert(response.responseText);
                }
            })
        }
    </script>
}