@using Physiotherapy.Common._Resources
@using Physiotherapy.Model
@using Physiotherapy.Common

@model UrlVO

<div class="container">
    <div class="card">
        <div class="card-header text-center">
            @Resource.UserInformation
        </div>
        <div class="card-body">
            <div class="form-inline mb-3">
                <div class="form-group row col-12">
                    @Html.LabelFor(model => model.Url, new { @class = "col-sm-2 col-form-label", @for = "Url" })
                    <div class="text-info form-control width-fill input-border col-sm-10">
                        @Html.DisplayFor(model => model.Url)
                    </div>
                </div>
            </div>
            <div class="form-inline mb-3">
                <div class="form-group row col-12">
                    @Html.LabelFor(model => model.GUID, new { @class = "col-sm-2 col-form-label", @for = "GUID" })
                    <div class="input-group text-info form-control width-fill input-border col-sm-10">
                        @Html.DisplayFor(model => model.GUID)
                    </div>
                </div>
            </div>
            <div class="form-inline justify-content-center">
                <div class="form-group">
                    @Html.LabelFor(model => model.CreationDate, new { @class = "mr-sm-2 col-form-label text-center", @for = "CreationDate" })
                    <div class="input-group">
                        <div class="form-control text-info">
                            @DateTimeUtil.ToShortDate(Model.CreationDate)
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ExpireDate, new { @class = "mr-sm-2 col-form-label", @for = "ExpireDate" })
                    <div class="input-group">
                        <div class="form-control text-info">
                            @DateTimeUtil.ToShortDate(Model.ExpireDate)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                NavBarItemSelected("Admin");
            });
        </script>
    }
